html {
    font-size: 62.5%;
}

body {
    font-family: "Century Gothic", Verdana, sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: #004A7F;
    font-weight: normal;
    padding: 0.1em 0.0em 0.5em 0.0em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

a {
    color: #FF9900;
    text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
    text-decoration: underline overline;
}

a:active {
}

div#wrapper {
    width: 800px;
    margin: 20px auto;
    text-align: left;
    background: #FFFFFF;
}

div#login {
    float: right;
    padding-right: 20%;
}

div#footer {
    text-align: center;
    border-top: 1px solid #333333;
}

/* ----- simple input form ----- */
.inputform {
    margin: 0 auto 1.0em auto;
    width: 70%;
}

.inputform fieldset {
    padding: 0.5em;
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}

.inputform legend {
    color: #004A7F;
    font-size: 1.4em;
    font-weight: normal;
}

.inputform p {
    clear: left;
    margin-bottom: 1.0em;
}

.inputform p.info {
    color: #666666;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #b7ddf2;
    margin-bottom: 1.0em;
}

.inputform label {
    float: left;
    width: 30%;
    text-align: right;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 1.0em;
}

.inputform input {
    font-size: 1.4em;
    border: 1px solid #aacfe4;
}

.inputform p.button {
    margin-bottom: 0em;
}

.inputform p input.button {
    border-color: #CCCCCC #CCCCCC #999999 #999999;
    display: inline;
    padding: 0.0em 0.5em 0.0em 0.5em;
    text-align: center;
}

.inputform p input.button:hover {
    background: #FF9900;
    color: #FFFFFF;
}

.inputform input:focus, .inputform select:focus, .inputform textarea:focus {
    border: 1px solid gray;
}

.inputform p .errors {
    border: 1px solid red;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}